.RC {
    max-width: 600px;
    height: 400px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.RC-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.RC-header {
    text-align: center;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
}

.RC-title {
    font-size: 1.5em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.RC-toolbar {
    margin-bottom: 30px;
}

.RC-list {
    height: 300px;
    background-color: #F8F8F8;
    overflow: scroll;
}

.RC-flag {
    width: 50px;
    height: 33px;
}

.globe {
    position: absolute;
    right: -26px;
    top: 45px;
}

.loading {
    /* Center it */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}