.RC {
    max-width: 600px;
    min-height: 400px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.RC-toolbar {
    margin-bottom: 30px;
}

.RC-list {
    height: 300px;
    background-color: #F8F8F8;
    overflow: scroll;
}

.globe {
    position: absolute;
    right: -26px;
    top: 45px;
}