.globe {
    border: 2px solid #8bc34a;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    /*-webkit-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
}
.globe svg {
    /*-webkit-animation: rotation 5s linear 0s infinite;*/
    animation: rotation 5s linear 0s infinite;
}
.globe svg path {
    stroke: #8BC34A;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    from {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    from {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
